:root {
  --background-color: #191c32;
  --text-color: aqua;
  --button-color: #22224e;
  --button-dr-color: #818dcf;
}

/* Reset */

* {
  margin-bottom: 20px;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

header {
  width: 100%;
  height: 70px;
}

.seccion {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 10%;
  max-width: 200px;
  height: auto;
  padding-top: 2%;
  padding-left: 5%;
}

.container-text-box {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container-text-box::placeholder {
  color: var(--text-color);
}

.container-text-box:focus,
.container-text-box:active {
  border: none;
  outline: none;
  color: var(--text-color);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 75%;
}

.info p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.container-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
}

.btn-cr {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2% 4%;
  gap: 8px;
  width: 25%;
  border-radius: 24px;
  background-color: var(--button-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  transition: 1s;
}

.btn-dr {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2% 4%;
  gap: 8px;
  width: 25%;
  border-radius: 24px;
  border: 1px solid var(--text-color);
  background-color: var(--button-dr-color);
  color: #191c32;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin-left: 3%;
  transition: 1000ms;
  cursor: pointer;
}

.btn-cr:hover,
.btn-dr:hover {
  transition: 1000ms;
  padding: 2% 13% !important;
}

.seccion2 {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background-color: #22224e;
  border-radius: 32px;
}

.container-text-result {
  position: relative;
  width: 80%;
  height: 100%;
  left: 40%;
  top: 5%;
  transform: translateX(-50%);
}

.container-text-result img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 5%;
  left: 10%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 70%;
  height: auto;
  overflow-y: auto;
}

.text-container p {
  font-size: 22px;
  color: var(--text-color);
}

.container-copy {
  display: flex;
  justify-content: left;
  position: absolute;
  width: 80%;
  left: 32%;
  bottom: 10%;
}

.btn-copy {
  display: none;
  justify-content: center;
  padding: 15px 30px !important;
  width: 150px;
  left: 05%;
  border-radius: 24px;
  background-color: var(--button-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
  gap: 2px;
  position: absolute;
  width: 100%;
  height: auto;
  top: 60%;
  text-align: center;
}

.container-text h2 {
  width: 60%;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--text-color);
}

.container-text p {
  width: 80%;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-color);
  opacity: 0.6;
}

/* Pantalla mediana */
@media (min-width: 768px) and (max-width: 1366px) {
  .seccion {
    display: flex;
    flex-direction: row;
  }
  .all {
    width: 100%;
  }
  .container-text-box {
    width: 80%;
    height: 60%;
    left: 10%;
    top: 5%;
  }
  .info {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .info p {
    font-size: 16px;
  }
  .container-btn {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-cr,
  .btn-dr {
    width: 48%;
    border-radius: 16px;
  }
  .btn-cr:hover,
  .btn-dr:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .seccion2 {
    justify-content: center;
    position: absolute;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 80%;
  }

  .container-text-result {
    position: absolute;
    width: 80%;
    left: 50%;
    height: 90%;
    top: 5%;
    transform: translateX(-50%);
  }

  .container-text-result img {
    top: 0;
    display: none;
    visibility: hidden;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 70%;
    height: auto;
    overflow-y: auto;
  }

  .text-container p {
    font-size: 34px;
  }

  .container-copy {
    justify-content: center;
    width: 80%;
    left: 5%;
    bottom: -10px;
  }

  .btn-copy {
    padding: 10px 30px;
  }

  .text-result {
    font-size: 18px;
  }

  .container-text {
    width: 100%;
    top: 5%;
  }

  .container-text h2 {
    top: 80%;
    font-size: 40px;
  }

  .container-text p {
    font-size: 18px;
  }
}

/* Pantalla de celular */
@media (max-width: 767px) {
  .seccion {
    display: flex;
    flex-direction: row;
  }
  .all {
    width: 100%;
  }
  .container-text-box {
    width: 80%;
    height: 60%;
    left: 10%;
    top: 5%;
    font-size: 28px;
  }
  .info {
    width: 80%;
    left: 10%;
    top: 64%;
  }
  .info p {
    font-size: 16px;
  }
  .container-btn {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-cr,
  .btn-dr {
    width: 48%;
    border-radius: 16px;
  }
  .btn-cr:hover,
  .btn-dr:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .seccion2 {
    width: 80%;
    height: 30%;
    left: 10%;
    top: 80%;
  }

  .container-text-result {
    position: absolute;
    width: 80%;
    left: 50%;
    height: 90%;
    top: 5%;
    transform: translateX(-50%);
  }

  .container-text-result img {
    top: 0;
    display: none;
    visibility: hidden;
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 70%;
    height: auto;
    overflow-y: auto;
  }

  .text-container p {
    font-size: 18px;
  }

  .text-result {
    display: block;
    font-size: 16px;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .container-copy {
    justify-content: center;
    width: 80%;
    left: 5%;
    bottom: -30px;
  }
  .btn-copy {
    padding: 10px 20px !important;
  }

  .container-text {
    width: 100%;
    height: auto;
    top: 5%;
  }

  .container-text h2 {
    font-size: 18px;
  }

  .container-text p {
    font-size: 14px;
  }
}
